.navbar-container {
    display: flex;
    height: 8rem;
    width: 100%;
    background-color: grey;
    position: absolute;
    z-index: 20;
    justify-content: space-between;

    .menu-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 10rem;
        margin-right: 5rem;
        gap: 0.8rem;

        &:hover {
            cursor: pointer;
        }

        .menu-line {
            width: 5rem;
            height: 0.4rem;
            background-color: #212529;
            border-radius: 2rem;
            transition: 0.3s;

        }
        
        .one.active {
            transform: translate(0, 1.2rem) rotate(45deg); 
            background-color: white;
        }

        .two.active {
            background-color: transparent;
            transform: translateX(-100%);
        }

        .three.active {
            transform: translate(0, -1.2rem) rotate(-45deg); 
            background-color: white;
        }
    }
}