.about-section {
    
    background-color: #fff5f5;

    .about-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        margin: 0 auto;
        padding: 12rem 4rem;
        max-width: 120rem;
        gap: 5.6rem;

        .right-side {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1rem;
            
            height: auto;
            width: 100%;
            box-shadow: 0 2rem 3rem 9 rgba(0, 0, 0, 1);
            padding: 1.6rem;

            img {
                border-radius: 1rem;
                width: 100%;
                height: auto;
            }
        }

        .left-side {
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
                padding-top: 3.2rem;
                font-size: 2rem;
                line-height: 1.6;
            }
        }
    }
    .header-title {
        font-size: 6.4rem;
        font-family: "Abril Fatface", sans-serif;
        letter-spacing: 0.5rem;

        span {
            color: #f783ac;
        }
    }
}