.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.15)), url('./header-bg.png') center no-repeat;

    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 24rem 2.4rem;
        max-width: 120rem;
        // width: 120rem;
        background-color: rgba(0, 0, 0, 0.25);
        padding: 8rem 2rem;
        border-top-left-radius: 15rem;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 15rem;
        border-bottom-left-radius: 2rem;

        h1,p {
            font-family: "Inter", sans-serif;
            letter-spacing: -0.1rem;
            text-align: center;
        }

        button {
            font-family: "Inter", sans-serif;
            text-align: center;
            letter-spacing: 0.2rem;
        }

        h1,p {
            margin: 0;
            text-shadow: 0 0.2rem 0.15rem rgba(0, 0, 0, 0.5);
        }

        h1 {
            font-size: 5.2rem;
            color: #f783ac;
            font-weight: 700;
            margin-bottom: 1.2rem;
            font-family: "Abril Fatface", sans-serif;
            letter-spacing: 0.15rem;
        }

        p {
            font-size: 3.2rem;
            color: white;
            margin-bottom: 3.2rem;
            font-weight: 500;
        }

        button {
            width: 44rem;
            height: 6rem;
            border: none;
            font-size: 2.4rem;
            font-weight: 700;
            background-color: rgba(247, 131, 172, 0.2);
            box-shadow: 0 0 0 0.15rem rgba(247, 131, 172, 0.8);
            text-shadow: 0 0.1rem 0.2rem rgb(0, 0, 0);
            color: white;
            border-radius: 0.5rem;
            transition: 0.3s ease;

            &:hover {
                cursor: pointer;
                background-color: rgba(247, 131, 172, 0.6);
            }
        }
    }
}