.navbar-container {
    display: flex;
    height: 8rem;
    width: 100%;
    position: fixed;
    z-index: 20;

    .main-menu.active {
        display: flex;
        animation: menuShow;
        animation-duration: 0.5s;
        left: 0%;
        height: 100vh;
        top: 0;
    }

    // .main-menu.inactive {
    //     animation: menuHide;
    //     animation-duration: 0.5s;
    // }

    .main-menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 5rem;
        background-color: rgba(33, 37, 41, 0.98);
        position: absolute;
        z-index: 10;
        overflow: none;
        top: 50vh;
        
        .menu-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            gap: 6rem;
            padding: 0;

            .list-item {
                color: transparent;
                font-size: 3.2rem;
            }

            .list-item.active {
                animation: menuListShow;
                animation-duration: 1s;
                color: white;
                transition: 0.3s;
                user-select: none;

                &:hover {
                    cursor: pointer;
                    color: #f783ac;
                }
            }
        }

        // .menu-list.active {
        //     animation: menuListShow;
        //     animation-duration: 10s;
        // }
    }

    nav {
        display: flex;
        align-items: center;
        height: 6.4rem;
        width: 100%;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.2);
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(1rem);
        z-index: 20;

        .brand {
            margin-left: 3rem;
            font-size: 2.6rem;
            color: #f783ac;
            text-shadow: 0 0.2rem 0.15rem rgba(0, 0, 0, 0.5);
            z-index: 20;
            letter-spacing: -1px;
            font-family: "Courgette", san-serif;
            font-weight: 700;
        }
    }

    .menu-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 10rem;
        // margin-right: 0.2rem;
        gap: 0.6rem;
        z-index: 20;

        &:hover {
            cursor: pointer;
        }

        .menu-line {
            width: 3.6rem;
            height: 0.25rem;
            background-color: #f783ac;
            border-radius: 2rem;
            transition: 0.3s;
        }

        .one,.two,.three {
            box-shadow: 0 0.05rem 0rem 0 rgba(0, 0, 0, 0.5);
        }
        
        .one.active {
            transform: translate(0, 0.9rem) rotate(45deg); 
            background-color: #f783ac;
        }

        .two.active {
            background-color: transparent;
            transform: translateX(-100%);
            box-shadow: none;
        }

        .three.active {
            transform: translate(0, -0.8rem) rotate(-45deg); 
            background-color: #f783ac;
        }
    }
}

@keyframes menuShow {
    0% {
        background-color: transparent;
        left: 100%;
        height: 2vh;
        top: 50vh;
    }
    25% {
        left: 0%
    }
    // 50% {
    //     left: 0%;
    // }
    75% {
        top: 50vh;
        height: 2vh;
    }
    100% {
        background-color: rgba(33, 37, 41, 0.9);
        height: 100vh;
        top: 0;
    }
}

@keyframes menuHide {
    0% {
        background-color: rgba(33, 37, 41, 0.9);
        height: 100vh;
        top: 0;
    }
    50% {
        top: 50vh;
        height: 10vh;
    }
    75% {
        left: 0%;
    }
    100% {
        background-color: transparent;
        left: 100%;
        height: 10vh;
        top: 50vh;
    }
}

@keyframes menuListShow {
    0% {
        color: transparent;
    }
    100% {
        color: white;
    }
}